<!-- <h1 [style] ="red">{{title}}</h1>
<h2 [style] ="green">{{sum()}}</h2>


 #inputMessage this is for unique id in angular as we know -->
<!-- <input #inputMessage type ="text"  (keyup) ="clickMe( inputMessage.value)"> -->
<!-- event binding  -->
<!-- here we use the concept of event binding because
 the data is goes from the Template to Component or surce -->

<!-- <button (click) ="clickMe( inputMessage.value)">Click Me</button> -->
<!-- this input is value is stored in val (variable) inthe copmonent
and it equal to message and after that we display the message -->
<!-- <h3> {{message}}</h3> -->




<!-- Two way data binding  -->
<!-- <div>
<input #inputMessage type ="text"  [(ngModel)]="message ">
<button (click) ="clickMe( 'AOA Guys whatsup')">Click Me</button>
<h3> {{message}}</h3>
</div> -->


<!-- Note for ngif  -->
<!-- <div>
  <button (click)=" toggle()">Show/Hide</button>
  <ng-template *ngIf="show; then showPrivate  else showPublic"> </ng-template>

  <ng-template #showPrivate><h3> Private message</h3></ng-template>
  <ng-template #showPublic><h3> Public message</h3></ng-template>
</div>


<div> -->

  <!-- This portion is for using NgForOf Directives  -->

  <!-- <button (click)="inc()"> + </button>
  <button (click)="dec()"> - </button>


  <table>
    <ng-container  *ngFor="let num of nums; index as i; count as total; even as even odd as odd">
      <tr [style]="even ? green: red" style="color: white; text-align: center;">
      <td style="width: 50px;">
          {{i+1}}

      </td>
      <td style="width: 100px">
      {{num}}
    </td>

      </tr>
    </ng-container>
  </table>


</div> -->


<!-- NOW HERE WE ARE PLACE THE EXPRESS APP
MATERIAL -->
<!-- /////////////////////////////////// -->

<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">{{title}}</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">This is mainly about how to solve technical problems that arise from using front or back end technologies to
          make web pages or web apps but some of these steps will be applicable to solving technical problems in
          general.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/about" routerLinkActive="active">Find Out More</a>
      </div>
    </div>
  </div>
</header>

